@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
body {
	background: url(../img/background.jpg) no-repeat;
	color:white;
}

.txtUsername{
padding-top:300px;
}
table {
  border-radius: 15px;

margin-top: 100px;
  width: 250px;
  height: 130px; 
  text-align :Center;
}
h1,h3{
color:white;
}

